{% extends "base.html" %}

{% block content %}
<h1>{{user.username}}</h1>

<form class="form" method="get" action=".">
<input type="text" placeholder="Search.." name="q" value="{{request.GET.q}}">
<button class="btn-danger" type="submit">Search</button>
</form>

<hr>
{% if locations %}
{% for rest in  locations %}
       <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
               <h3>{{rest.title}}</h3>
               <p>
                    <a href="{{request.path}}?q={{rest.location}}">{{rest.location}}</a>
                    <a href="{{request.path}}?q={{rest.category}}">{{rest.category}}</a>
               </p>

                <p>
                <b>Items</b>
                    <ul>
                        {% for item in  rest.item_set.all %}
                            <li style="margin-bottom: 15px;">{{ item.name }}
                                {% for ing in item.get_contents %}
                                <span style="padding: 2px 4px;  margin-right:4px;background-color: #ccc"> <a href="{{request.path}}?q={{ing}}">{{ing}}</a></span>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </p>

                </div>
            </div>
       </div>
{% endfor %}

{% else %}
<p class="lead">No items found</p>

{% endif %}

{% endblock content%}
